[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyjwt = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
pylint = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-on-heroku = "*"

[dev-packages]

[requires]
python_version = "3.9"
